.header {
  height: $header_height;
  @include media-breakpoint-down(sm) {
    height: 45px;
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-brand {
  max-width: 200px;
  @include media-breakpoint-down(sm) {
    max-width: 122px;
  }
  img {
    width: 100%;
  }
}

.btn-login {
  letter-spacing: 0.6px;
}