.search-bar {
  margin-top: 45px;
  margin-bottom: 45px;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.search-by__label {
  margin-right: 10px;
  font-size: 20px;
  color: $secondary;

}

.search-by__input-container {
  position: relative;
}

.search-by__input {
  width: 281px;    
  padding-right: 50px;
  @include media-breakpoint-down(sm) {
    width: 261px;    
  }
}

.search-by__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
}