$header_height: 68px;
$footer_height: 55px;


$primary: #C23F81;
$secondary: #888888;
$light: #d6d5d673;
$dark: #313131;

$btn-border-radius: 8px;
$btn-font-size: 16px;
$btn-padding-y: 8px;
$btn-padding-x: 18px;
$btn-font-weight: 500;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$h1-font-size: 60px;
$h2-font-size: 16px;
$h3-font-size: 16px;
$h4-font-size: 14px;
$h5-font-size: 14px;

$input-bg: #ECECEC;
$input-border-width: 0px;
$input-border-radius: 10px;
$input-height: 47px;